<!DOCTYPE html>
<head>
    <title>dreampkgs report</title>
    <style>
     .inputs, .results, .logs {
         padding: 1rem;
     }

     .build-log {
         padding: 1rem;
         height: 15rem;
         overflow: scroll;
         background-color: #121212;
         color: #f2f2f2;
     }

     .results tr:nth-child(even) {
         background-color: #f2f2f2;
     }

     .systems {
         display: flex;
         flex-wrap: wrap;
     }
     .systems > .system {
         width: 50%;
         box-sizing: border-box;
         padding: 1rem;
     }

    </style>
    <script>
     window.onload = function() {
         document
             .querySelectorAll('.build-log')
             .forEach(el => {
                 el.scrollTop = el.scrollHeight;
             });
     };
    </script>
</head>
<body>
    <h1>dream2nix report</h1>
    {#
    {% set all_count = (failures + successes) | length %}
    {% set success_count = successes | length %}
    {% set success_percent = (success_count / all_count) * 100 %}
    <p>{{success_count}} builds out of {{ all_count }} were successful ({{ success_percent }}%)</p>
    #}
    <h2>inputs</h2>
    <ul class="inputs">
        {% for name, url in inputs.items() %}
        <li><a href="{{url}}">{{name}}</a></li>
        {% endfor %}
    </ul>

    <h2>builds</h2>
    <table class="results">
        <thead>
            <tr>
                <th>name</th>
                <th>x86_64-linux</th>
                <th>aarch64-darwin</th>
            </tr>
        </thead>
        <tbody>

            {% for result in results %}
            <tr class="{{ result.status }}">
                <td>{{ result.name }}</td>
                {%- for system in ["x86_64-linux", "aarch64-darwin"] %}
                <td>
                    {% set item = result.get(system, {}) -%}
                    {% set status = item.status -%}
                    {{ status | status_icon }}
                    {% if status == "success" -%}
                    <a href="{{ item.store_path }}">store path</a>
                    {% else -%}
                    <a href="#{{system}}-{{result.name}}">log</a>
                    {% endif -%}
                </td>
                {% endfor -%}
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <h2>logs</h2>
    <div class="logs">
        {% for result in results %}
        {%- if result.status != "success" %}
        <h3>{{ result.name }}</h3>
        {% endif -%}
        <div class="systems">
            {% for system, item in result.items() %}
            {%- if system in ["x86_64-linux", "aarch64-darwin"] and item.status != "success" %}
            <div class="system">
                <h4 id="{{system}}-{{result.name}}">{{ system }}</h4>
                <p>(last 100 lines only, <a href="{{item.log_uri}}">full log</a>)</p>
                <pre class="build-log">{{ item.log_tail }}</pre>
            </div>
            {% endif -%}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</body>
